
{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="map-container col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div id="map">
            <h1>Hello</h1>
              <div class="loading" style="display:none;">
                <div class="circle"></div>
              </div>
            </div>
        </div>
    </div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% endblock %}