
{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="metadata col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <form id='export'>
            <p>Please draw your shape, type a name, and press enter</p>
            <input id='name' type="text" name="name">
        </form>
      </div>
    </div>

    <div class="row">
        <div class="map-container col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div id="map">                
                <div class="loading" style="display:none;">
                  <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}